@model Accounts.Models.Entities.Company

<div class="m15b" data-id="@Model.Id">
    <input type="text" class="ci" data-old="@Model.Name" value="@Model.Name" maxlength="18" />
    <span class="removeFile dib hand" title="Delete"></span>
</div>