@{
    var general = Request.AppRelativeCurrentExecutionFilePath.ToLower() == "~/settings/general" ? "sel" : String.Empty;
    var typesSubtypes = Request.AppRelativeCurrentExecutionFilePath.ToLower() == "~/settings/typesandsubtypes" ? "sel" : String.Empty;
    var regex = Request.AppRelativeCurrentExecutionFilePath.ToLower() == "~/settings/regex" ? "sel" : String.Empty;
}

<div id="left" class="dtc lb p80t">
    <a href="~/Settings/General"><div class="mi general @general"><span>GENERAL</span></div></a>
    <a href="~/Settings/TypesAndSubtypes"><div class="mi types @typesSubtypes"><span>TYPES / SUBTYPES</span></div></a>
    <a href="~/Settings/Regex"><div class="mi regexes @regex"><span>REGEX</span></div></a>
</div>
