


/* 1. For 1150px */
@media all and (max-width: 1520px) {
    .bub { height: 31px; margin-top: 4px; border-radius: 4px; margin-left: 10px; line-height: 29px; text-align: center; padding-left: 10px; padding-right: 10px; } 
    #outLabel { margin-left: 15px; }
    #inLabel { margin-left: 15px; }
}

/* 2. For 1024px */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
#left { width: 190px; }
.tri-state div { width: 190px; }
.lb { background: linear-gradient(to right, rgba(226,226,226,0) 184px,rgba(200,200,200,1) 190px); }
.sepa3 { width: 135px !important; }
div.sepa1 { width: 135px !important; position: relative; left: 8px; }
.tri-state > div > label { margin-left: 10px;}
.tri-state > div > label { margin-left: 16px;}
.tri-state > div div:not(.fc) { margin-left: 8px; }

    #outLabel { margin-left: 40px; }
    .triangle-border.left { margin-left: 15px; }
    #search { width: 150px; background-position: 0px 0px, 163px 14px; }
    #search input { border: none; font-size: 16px; width: 125px; color: #666; margin-top: 9px; }

    #tableAndTotal { margin-left: 205px; margin-top: 15px; }
    .tabSepa { height: 3px; background-color: #d7d7d7; margin-right: 10px; }
    #table tr th:nth-child(3)  { min-width: 100px; }
    #table tr th:last-child  { min-width: 58px; }


select { width: 125px; }
.comment { width: 122px; background-position: 110px 7px; }
.comment input { width: 100px; }
}

/* iPAD portrait for home screen */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
}