
/* popup */
#addNew { background-color: #efefef; padding-left: 10px;  padding-right: 10px;  height: 135px; }
#addNew > div { margin: 7px 0 0 10px; }
#addNew .butt { padding-left: 10px; padding-right: 10px; display: inline-block; height: 25px; line-height: 25px; border-radius: 5px; }


/* triangle sorting */
.tr { background-image: url("../jqueryUI/images/ui-icons_222222_256x240.png"); height: 16px; width: 16px; position: relative; }
.expand { background-position: -64px -16px; }
.collapse { background-position: 0px -16px; }


/* new expander collapser */
.cls {display: inline-block; position: relative;  left: 5px; }


/* Nice dropdowns */
select { width: 140px; height: 20px; }
select a { text-decoration: none; }


/* Overridden styles for "Add New Filter" box */
.popup2 select { width: 310px; }
/*.popup2 .comment { width: 350px; }*/
.popup2 .comment > div:first-child { width: 310px; background-position: 293px 8px; }
.popup2 .comment input { width: 282px; }
.popup2 .clearSearch { position: relative; left: -20px;}

.spinner { display: none; font-style: italic; }
