
.header { height: 180px; background-color: #f3f3f3; margin: 0; font-family: Arial; }

.header > div:first-child { width: 50%; margin: 0 auto; }
.header > div:first-child > div:first-child { width: 470px; }

.header .icon { width: 125px; height: 180px; background-image: url('../img/upload.png'); background-size: 64px 44px; background-position: 0px 40px; background-repeat: no-repeat; }

.header .uploader { margin-top: 20px; color: #555;}
.header .uploader > div { margin: 10px 0px 10px 0px;}

.uploaderFirst { font-size: 16px; }
.uploaderFirst a { color: #28bb89; }
.uploaderSecond { font-size: 14px; font-weight: normal; }


.uploaderFirst > .dtc:first-child { vertical-align: top; }


.fileBlock { overflow: hidden; position: relative; width: 75px;height: 40px; display: inline-block; padding-left: 5px; }
.fileBlock [type=file] {
    cursor: inherit; display: block;
    font-size: 999px;
    filter: alpha(opacity=0); opacity: 0;
    min-height: 100%; min-width: 100%;
    position: absolute; right: 0; top: 0;
}

.uploader .filePicker { color: #28bb89; position: relative; top: 0px; }




.uploader select { color: #555; margin-top: 5px;font-weight: normal; font-size: 14px;}

.uploadButton {
    background-color: #28bb89;
    color: white;
    display: inline;
    margin-left: 35px;
    border: solid 0px transparent;
    box-shadow: 1px 1px 1px #888;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
}

.history > div:first-child { margin: 20px 55px 0px 30px; color: #555; font-size: 12px; font-weight: bold; }
.history > div:first-child > div:first-child { margin-bottom: 10px; }
.history .sepa { background-color: #d7d7d7; height: 3px;}
.history .panel { background-color: #efefef; height: 27px; margin-bottom: 2px;font-size: 12px;font-weight: normal; padding: 10px 0px 0px 10px; cursor: pointer;}
.history .children { display: none; margin-left: 30px;}
.history .children > div { background-color: white; height: 27px; margin-bottom: 2px;font-size: 12px;font-weight: normal; padding: 10px 0px 0px 10px; }
.history .children > div a { color: #666; text-decoration: underline; width: 200px; display: inline-block; }
.history .children > div select { margin: 0px 20px 0px 20px; }
.history .children > div span { display: inline-block; width: 8px; height: 8px; font-weight: bold; 
    /*background-image: url('../img/close.png'); background-size: 8px 8px; background-position: left top; background-repeat: no-repeat;*/ 
}
.history .children .removeFile { margin: 0;}


.older { cursor: pointer; color: #28bb89; font-weight: normal; margin: 5px 0px 0px 2px;}



/* fix position for the text within dropdown */
.uploader .ui-selectmenu-status { padding-top: 0.17em ; }