@using Accounts
@using Accounts.BLL
<!-- popup - 2 -->
<div class="popup2">
    <div id="addNew" class="callout border-callout font12">
                        
        <div class="center c666">ADD NEW FILTER</div>
        <div>
            <div class="comment oh">
                <div class="fl">
                    <input id="addNewFilterPattern" class="d5" type="text" maxlength="250" />
                </div>
                <div class="fl clearSearch cross hand"></div>
            </div>
        </div>
        <div>
            @Html.OptgroupSelect(StaticData.RecordSubtypes.Where(i=>i.Id > 0), -1)
        </div>
        <div>
            <div id="addNewSubmit" class="rel bglgr butt hand white">add</div>
            <div id="addNewCancel" class="rel bglg butt hand white">cancel</div>
            <div class="dib italic red m10l">
                <span id="addNewFilterMessage"></span>
            </div>
        </div>

        <b class="border-notch notch"></b>
        <b class="notch"></b>
    </div>            
</div>
