@if (Request.IsAuthenticated)
{
    <!-- popup -->
    <div class="popup">
        <div class="callout border-callout font12">
            <a href="~/User/Cabinet">
                <div class="popupUsername">
                    @User.Identity.Name
                </div>
            </a>
            
            @using (Html.BeginForm("LogOff", "User", FormMethod.Post, new {id = "logoutForm"}))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()"><div class="popupExit hand @*bglgr*@">EXIT</div></a>
            }
            
            <b class="border-notch notch"></b>
            <b class="notch"></b>
        </div>            
    </div>
}
